<?php 
/* *******************************
 *
 * Developer by FelipheGomez
 *
 * ******************************/
 
// DATABASE CONFIG
define('DB_driver', 'mysql');
define('DB_host', 'localhost');
define('DB_user', 'my_user_database');
define('DB_pass', 'my_password_database');
define('DB_database', 'my_database');
define('DB_charset', 'char_default');

define("CONTROLADOR_DEFECTO", "Site"); // CONTROLLER DEFAULT - ACCION DEFECTO
define("ACCION_DEFECTO", "index"); // ACTION DEFAULT - ACCION DEFECTO

// DISPLAY ERRORS ENABLED
ini_set('display_errors', 1);
ini_set('display_startup_errors', 1);
error_reporting(E_ALL);